
<div class="login">
  <%= link_to('back to login', {:action => :login}) %>
  <h2>I forgot my password</h2>
  <% form_tag do %>
    <p class="description">Please make sure to put in the e-mail address that's known by Kakuteru</p>
    <%= error_message_on(@stream, :email) %>
    Your e-mail address: <%= text_field_tag(:email) %>
    <%= submit_tag_with_notice('Mail me!') %>
    <br/><br/>
  <% end %>
</div>