
<% unless @stream.password %>
  <h1>Set a password</h1>
<% else %>
  <h1>Open Sesame</h1>
<% end %>

<% form_tag do %>
  <%= error_message_on(@stream, :password) %>
  <%= password_field_tag(:password) %>
  <%= submit_tag('Remember me!') %>
<% end %>