
<div class="login">
  <% unless @stream.password %>
    <h2>Set a password</h2>
  <% else %>
    <h2>Open Sesame</h2>
  <% end %>

  <% form_tag do %>
    <%= error_message_on(@stream, :password) %>
    <%= password_field_tag(:password) %>
    <%= submit_tag('Remember me!') %>
  <% end %>
</div>