<h1>About</h1>

<p>Kakuteru is a part time endeavor initiated by me, <%= link_to('Dominiek ter Heide', 'http://dominiek.com/') %>. It was originally intended as a play-bed for new technologies. At the same time, I was impressed by <a href="http://yongfook.com/">Yongfook</a>'s <a href="http://sweetcron.com/">Sweetcron</a> - a PHP lifestreamer - that inspired building a similar lifestreamer. Because of my interest in Semantic-web technologies, I've slowly started throwing in little extras that make Kakuteru more machine readable (<a href="http://zemanta.com/">auto-tagging</a>, SEO, Micro-/Nano- formats etc). Also, I've equipped Kakuteru with the tools that serve my need as a blogger/lifestreamer (Dopplr, Addthis, Digg integration etc).</p>

<p>At it's current stage, Kakuteru is most definitely unique, but not game changing. However, since Kakuteru is already solving problems for me and other people, I think we can make it something great.</p>

<p>Kakuteru is Open Source and can be freely downloaded from <%= link_to('Github', 'http://github.com/dominiek/kakuteru/tree') %>. Kakuteru.com is a way of turning that same piece of open source into an awesome and robust service. Kakuteru embraces openness and to continue along that same mindset, I intend to make Kakuteru an Open Business. That means anyone can jump in and make Kakuteru great and profitable - with ownership in return. How am I going to accomplish this? I have no freakin' idea! So if your interested, please pop me an email @ kakuteru [ monkeytail ] dominiek.com</p>

<p>Comments, feedback or ideas? Check out <a href="http://kakuteru.uservoice.com/">our Uservoice forum</a>.</p>

<a href="http://kakuteru.uservoice.com/"><img src="http://kakuteru.uservoice.com/images/powered_by_UV_150.png"></a>

