<% content_for(:head) do %>
  <%= stylesheet_link_tag('lightbox') %>
  <%= javascript_include_tag('lightbox') %>
<% end %>

<h1>Hi there!</h1>

<p class="description">
  Kakuteru is an experimental lifestreaming service that pimps up your online activity. Kakuteru enhances your <%= link_to('FriendFeed') %> activity and throws some extra spices in the mix:
</p>

<div class="facts">
  <% 
    intro = [
      [:your_style, "Lifestreaming, YOUR style"],
      [:activity, "Activity all over the place"],
      [:web30_enabled, "Web 3.0 Enabled"],
      [:integration, "An Integration Behemoth"],
      [:statistics, "Activity Stats"],
      [:clusters, "Soon: Cluster Streams"]
    ]
   %>
  <% intro.each do |key_caption| 
      key,caption = key_caption
    %>
      <%= link_to(caption, "/images/intro_#{key.to_s}.png", :rel => "lightbox[intro]", :title => caption, :class => key.to_s) %>
  <% end %>
</div>

<div class="closed_beta">
  <p class="description">
    Right now we're in a closed BETA, so please make sure to <a href="/signup">sign up for an invitation</a>.
  </p>
</div>
