<% content_for(:head) do %>
  <%#= stylesheet_link_tag('lightbox') %>
  <%#= javascript_include_tag('lightbox') %>
  <script type="text/javascript">
    var screenshots = <%= @intro.to_json %>;
    var current_screenshot = 0;
    var manually_skipped = false;
    function next_screenshot(skip_transition) {
      current_screenshot++;
      var next = screenshots[(current_screenshot % screenshots.length)];
      if(skip_transition == true) {
        $('screenshot').className = "screenshot " + next[0];
        $('screenshot_caption').innerHTML = next[1];
        manually_skipped = true;
      } else {
        if(manually_skipped == true) {
          current_screenshot--;
          manually_skipped = false;
          return;
        }
        $('screenshot').morph('opacity:0;', {duration: 0.8});
        $('screenshot_caption').morph('opacity:0;', {duration: 0.8});
        setTimeout(function() {
          $('screenshot').className = "screenshot " + next[0];
          $('screenshot_caption').innerHTML = next[1];
          $('screenshot').appear();
          $('screenshot_caption').appear();
        }, 800);
      }
    }
    new PeriodicalExecuter(next_screenshot, 4);
  </script>
<% end %>

<p class="description">
  Kakuteru is an experimental lifestreaming service that pimps up your online activity. Kakuteru enhances your <%= link_to('FriendFeed') %> activity and throws some extra spices in the mix:
</p>

<div class="facts">
  <%= link_to_function('next', "next_screenshot(true);", :class => 'next') %>
  <h2 id="screenshot_caption"><%= @intro.first.last %></h2>
  <div id="screenshot" class="screenshot your_style"></div>
</div>

<div class="closed_beta">
  <p class="description">
    Right now we're in a closed BETA, so please make sure to <a href="/signup">sign up for an invitation</a>.
  </p>
</div>
