
.with_icon {
	padding-left: 24px;
	background-repeat: no-repeat;
	background-position: left center;
}

.with_icon.bookmark { background-image: url('/images/icons/16-book-green-mark.png'); }
.with_icon.photo { background-image: url('/images/icons/16-image.png'); }
.with_icon.video { background-image: url('/images/icons/16-video-square.png'); }
.with_icon.message { background-image: url('/images/icons/16-comment-square.png'); }
.with_icon.article { background-image: url('/images/icons/16-file-page.png'); }
.with_icon.slide { background-image: url('/images/icons/16-circle-blue.png'); }
.with_icon.software { background-image: url('/images/icons/16-frame-add.png'); }
.with_icon.music { background-image: url('/images/icons/16-arrow-right.png'); }
