* {
  margin: 0;
  padding: 0;
}

img,table,div,td,tr,a {
	border: 0;
}

.clear {
  clear:both;
}

.clearleft {
  clear:left;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hide {
	visibility: hidden;
}