
body {
	background-color: #fff;
	font-family: "Lucida Grande",Arial,Helvetica,sans serif;
	font-size: 14px;
	color: #666;
}

a,
a:visited,
a:hover {
	color: #2c94e4;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input.text {
	font-size: 18px;
	margin-bottom: 0.8em;
	padding: 2px;
	width: 140px;
}

.page {
	min-height: 520px;
	padding: 2em 2em 0 2em;
}

.page.index .description {
	font-size: 16px;
}

/*
.facts {
	width: 800px;
	margin: 0 auto 240px auto;
}

.facts a {
	display: block;
	float: left;
	padding-top: 44px;
	text-indent: 100px;
	height: 69px;
	width: 370px;
}

.facts a.your_style { background: url('/images/intro_your_style_tn.png') no-repeat left center; }
.facts a.activity { background: url('/images/intro_activity_tn.png') no-repeat left center; }
.facts a.web30_enabled { background: url('/images/intro_web30_enabled_tn.png') no-repeat left center; }
.facts a.integration { background: url('/images/intro_integration_tn.png') no-repeat left center; }
.facts a.statistics { background: url('/images/intro_statistics_tn.png') no-repeat left center; }
.facts a.clusters { background: url('/images/intro_clusters_tn.png') no-repeat left center; }
*/

.facts {
	background-color: #ddd;
	width: 789px;
	margin: 1em auto;
	padding: 1em;
}

.facts h2 {
	margin-bottom: 0.8em;
}

.facts a.next {
	float: right;
	font-size: 18px;
}

.facts div.screenshot {
	width: 789px;
	height: 412px;
}

.facts div.screenshot.your_style { background: url('/images/intro_your_style.png') no-repeat left center; }
.facts div.screenshot.activity { background: url('/images/intro_activity.png') no-repeat left center; }
.facts div.screenshot.web30_enabled { background: url('/images/intro_web30_enabled.png') no-repeat left center; }
.facts div.screenshot.integration { background: url('/images/intro_integration.png') no-repeat left center; }
.facts div.screenshot.statistics { background: url('/images/intro_statistics.png') no-repeat left center; }
.facts div.screenshot.clusters { background: url('/images/intro_clusters.png') no-repeat left center; }

.closed_beta {
	margin-bottom: 2em;
}

.header a.kakuteru {
	display: block;
	background: url('/images/kakuteru_shaken_not_stirred.png') no-repeat center center;
	width: 355;
	height: 74px;
	text-indent: -3000px;
	margin: 0 0 0 2em;
}

.header {
	background-color: #111;
	height: 90px;
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
}

.header ul.menu {
	float: right;
	list-style-type: none;
	margin: 60px 1em 0 0;
}

ul.menu li {
	float: left;
	margin: 0 0.8em;
}

.page div.signup,
.page div.invite {
	margin-bottom: 2em;
}

.page h1 {
	margin-bottom: 0.8em;
}

.invite p {
	margin-bottom: 0.8em;
}

.notice {
	margin:  2em 0;
	padding-top: 1em;
	font-size: 20px;
	color: #699742;
}

.my_dashboard input.text {
	background-color: #333;
	color: #A4F062;
	border: 1px solid #999;
}

.invite img {
	float: left;
	margin: 0 1em 0 0;
}

.page div.signup {
	clear: both;
}

input.invite.code {
	width: 266px;
}

.signup label {
	width: 100px;
	display: block;
	float: left;
	padding-top: 4px;
}

.signup form span {
	font-size: 18px;
}

.signup input.get.started {
	font-size: 18px;
}

.my_dashboard {
	background-color: #A3EF61;
	padding: 1em;
	color: #333;
	width: 400px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 16px;
}

.my_dashboard h3,
.my_dashboard p {
	margin-bottom: 0.8em;
}

.my_dashboard input.login {
	font-size: 18px;
	float: right;
}

.footer {
	clear: both;
	background-color: #333;
	color: #eee;
	padding: 2em 2em;
}

.about.page p {
	font-size: 14px;
	margin-bottom: 0.8em;
}