
body {
	background-color: #111;
	font-family: "Lucida Grande",Arial,Helvetica,sans serif;
	font-size: 14px;
	color: #999;
}

.about { 
	
}

a {
	color: #777;
	text-decoration: none;
	outline: none;
}

.facts ul {
	list-style-type: none;
}

.facts li {
	border-bottom: 1px dashed #999;
}

.facts li:last-child {
	border-bottom: none !important;
}

.facts li a {
	display: block;
	padding-top: 44px;
	text-indent: 100px;
	height: 69px;
}

.facts li a.your_style { background: url('/images/intro_your_style_tn.png') no-repeat left center; }
.facts li a.activity { background: url('/images/intro_activity_tn.png') no-repeat left center; }
.facts li a.web30_enabled { background: url('/images/intro_web30_enabled_tn.png') no-repeat left center; }
.facts li a.integration { background: url('/images/intro_integration_tn.png') no-repeat left center; }
.facts li a.statistics { background: url('/images/intro_statistics_tn.png') no-repeat left center; }
.facts li a.clusters { background: url('/images/intro_clusters_tn.png') no-repeat left center; }

.header a {
	background: url('/images/kakuteru.png') no-repeat left bottom;
	display: block;
	float: left;
	height: 70px;
	width: 300px;
	text-indent: -3000;
}

.header {
	background: url('/images/shaken_not_stirred.png') no-repeat right 42px;
	height: 70px;
	width: 700px;
	margin: 0px auto 0 auto;
}

.about {
	background-color: #fff;
	width: 40%;
	margin: 0;
	float: left;
	color: #333;
}

.engage {
	width: 58%;
	float: right;
	height: 100%;
	margin-top: 1.4em;
}

.engage a.kakuteru {
	display: block;
	background: url('/images/kakuteru_shaken_not_stirred.png') no-repeat center center;
	width: 355;
	height: 74px;
	text-indent: -3000px;
	margin: 2em 0 3em 0;
}

.facts {
	padding: 2em 1.5em;
	font-size: 18px;
}

.status {
	padding-right: 2em;
	margin-bottom: 1em;
}

.get.started {
	font-size: 20px;
}

.notice {
	margin:  2em 0;
	padding-top: 1em;
	font-size: 20px;
	color: #699742;
}

.invite h3 {
	font-size: 20px;
}

.invite p {
	margin: 0.4em 0;
}

.invite input.text {
	font-size: 18px;
	background-color: #333;
	margin-bottom: 0.8em;
	color: #A4F062;
	padding: 2px;
	width: 140px;
	border: 1px solid #999;
}

.invite input.invite.code {
	width: 266px;
}

.invite label {
	width: 100px;
	display: block;
	float: left;
	padding-top: 4px;
}

.invite form {
	padding: 2em 0;
}

.invite form span {
	font-size: 18px;
}

.footer a {
	color: #A4F061;
}

.footer {
	clear: both;
	background-color: #333;
	color: #eee;
	padding: 2em 1em;
}

.footer p,h1 {
	margin-bottom: 1em;
}