<div class="friendfeed setup">
  <div id="friendfeed_setup">
    <% form_remote_tag do %>
      <h2>2. Enter your <%= link_to('FriendFeed.com', 'http://friendfeed.com/') %> Account</h2>
      <p><span>http://friendfeed.com/<%= text_field(:stream, :friendfeed_username, :class => '') %></span></p>
      <%= submit_tag('continue', :disable_with => 'aggregating..') %>
    <% end %>
  </div>

  <div id="friendfeed_explanation" class="explanation">
    <h2>What the Hell is a FriendFeed?</h2>
    <p>FriendFeed is a cool service that aggregates all of your online activity. 
    Right now, Kakuteru uses that as it's backend. 
    We plan to support other lifestreaming services soon, but for now, you'll have to quickly create a FriendFeed account.</p>
    <p><%= button_to('get a FriendFeed account', 'http://friendfeed.com/') %></p> 
  </div>
  
  <div id="friendfeed_aggregation" class="aggregation" style="display: none">
    <ul id="friendfeed_aggregation_services" class="services"><li class="busy">Loading services...</li></ul>
    <ul id="friendfeed_aggregation_activity" class="activity stream" style="display: none"><p class="busy">Fetching activity stream...</p></ul>
  </div>
</div>
