<div class="all media page">
  <h1>Recent Media</h1>
  <ul>
    <%= render(:partial => 'posts/media', :collection => @media_posts) %>
  </ul>
</div>
<%= will_paginate(@media_posts) %>


<% content_for(:foot) do %>
  <%= render(:partial => 'services/enable_disqus_comments')%>
<% end %>