<html>
  <head>
    <title>Kakuteru - Semantic-Web enabled Lifestreaming, Your Style.</title>
    <meta http-equiv="expires" content="900" />
    <meta name="keywords" content="kakuteru, cocktail, lifestreaming, lifestreamer, semantic, life, streaming, semantic-web, integration, dopplr, friendfeed, zemanta, customizable, design, style" />
    <style>
      body {
        color: #ccc;
        background-color: #111;
        font-family: Arial, Verdana;
      }
      div.maintenance {
        margin: 4em auto 0 auto;
        width: 400px;
        height: 120px;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="maintenance">
      <img src="/images/maintenance.png"/>
      <p>Running around screaming with cables in our hands!<br/>Please come back later, it should be over shortly :]</p>
    </div>
  </body>
</html>